body {
  background-color: #f6f6f6;
  display: block;
  padding: 50px;
}

.App {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.App h1 {
  font-weight: 800;
  color: #2f5d62;
}

.App h3 {
  font-weight: 700;
  font-style: italic;
  margin: 20px 0;
}

.App h4 {
  font-weight: 700;
  margin: 20px 0;
}

.App .search-results {
  margin: 30px 0;
}
