.Meaning h3 {
  font-weight: bold;
  line-height: 1.5;
}

.Meaning li {
  margin-bottom: 10px;
}

.Meaning li em {
  color: #59bfa7;
  font-size: 14px;
  font-weight: 500;
}

.Meaning strong {
  font-size: 14px;
}
