.Phonetics button {
  padding: 0;
  border: none;
  margin-right: 6px;
  background: none;
  color: #16697a;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

.Phonetics button:hover {
  color: black;
}
